.hero-behind-bg .rainy {
  opacity: 0;
  animation: rainOpacity 20s ease-in infinite;
}

@keyframes rainOpacity {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  47% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.hero-behind-bg .day {
  opacity: 0;
  animation: dayOpacity 20s ease-in infinite;
}

@keyframes dayOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.hero-behind-bg .snow {
  opacity: 0;
  animation: snowOpacity 20s ease-in infinite;
}

@keyframes snowOpacity {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
