/* squad hogs */

/* one */
.hog-1 {
  transform: translateY(100%);
  animation: hogOnePopup 10s ease-in-out infinite;
}

@keyframes hogOnePopup {
  0% {
    transform: translateY(100%);
  }
  2.5% {
    transform: translateY(0);
  }
  22.5% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}
/* two */
.hog-4 {
  transform: translateY(100%);
  animation: hogTwoPopup 10s ease-in-out infinite;
}

@keyframes hogTwoPopup {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(100%);
  }
  27.5% {
    transform: translateY(0);
  }
  47.5% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}
/* three */
.hog-2 {
  transform: translateY(100%);
  animation: hogThreePopup 10s ease-in-out infinite;
}

@keyframes hogThreePopup {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(100%);
  }
  52.5% {
    transform: translateY(0);
  }
  72.5% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* four */
.hog-3 {
  transform: translateY(100%);
  animation: hogFourPopup 10s ease-in-out infinite;
}

@keyframes hogFourPopup {
  0% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(100%);
  }
  77.5% {
    transform: translateY(0);
  }
  97.5% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
